<br>

<div style="width: 50%; ">
    <p>EDITAR COMIDA / CREAR COMIDA</p>

    <form [formGroup]="platoForm" style="display: flex; flex-direction: column">
        <input formControlName="name" type="text">
        <div *ngIf="platoForm.get('name').invalid && (platoForm.get('name').touched || platoForm.get('name').dirty)"
             class="alert alert-danger">

            <div *ngIf="platoForm.get('name').errors.required">
                Name is required
            </div>
            <div *ngIf="platoForm.get('name').errors.minlength">
                Name must be at least 3 characters
            </div>

        </div>
        <input formControlName="price" type="text">
        <input formControlName="stock" type="text">
        <input formControlName="type" type="text">
        <div *ngIf="platoForm.get('type').invalid && (platoForm.get('type').touched || platoForm.get('type').dirty)"
             class="alert alert-danger">

            <div *ngIf="platoForm.get('type').errors.required">
                Type is required
            </div>

        </div>
        <input formControlName="urlImage" type="text">
    </form>

    <button (click)="Create()">CREATE</button>
    <button (click)="Edit()">UPDATE</button>
</div>


<br>
<br>



<div>NACIONAL:</div>


<div class=" row" style="padding: 20px">
    <div *ngFor="let plato of platos"
         style="padding: 50px; display: flex; justify-content: center">
        <div *ngIf="plato.type==='nacional'">
            <mat-card class="example-card">
                <mat-card-header [ngStyle]="{'background': plato.stock>0 ? 'orange' : 'red' }">
                    <mat-card-title>Nombre: {{plato.name | uppercase}}</mat-card-title>
                    <mat-card-subtitle> Precio: {{plato.price}} Bs </mat-card-subtitle>
                    <mat-card-subtitle> Stock:{{plato.stock}} </mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image src="{{plato.urlImage}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{plato.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleEdit(plato)">Edit</button>
                    <button mat-button (click)="Delete(plato.id)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>
<br>
<div>INTERNACIONAL:</div>
<div class=" row" style="padding: 20px">
    <div *ngFor="let plato of platos"
         style="padding: 50px; display: flex; justify-content: center">
        <div *ngIf="plato.type==='internacional'">
            <mat-card class="example-card">
                <mat-card-header [ngStyle]="{'background': plato.stock>0 ? 'orange' : 'red' }">
                    <mat-card-title>Nombre: {{plato.name | uppercase}}</mat-card-title>
                    <mat-card-subtitle> Precio: {{plato.price}} $ </mat-card-subtitle>
                    <mat-card-subtitle> Stock:{{plato.stock}} </mat-card-subtitle>

                </mat-card-header>
                <img mat-card-image src="{{plato.urlImage}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{plato.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="toggleEdit(plato)">Edit</button>
                    <button mat-button (click)="Delete(plato.id)">Delete</button>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>




