<p>Benji</p>
<div style="border: 1px solid darkred;">
    <app-test
            age="21"
            [name]="name "
            description="Estudiante"
            (clickSave)="saveClickChild($event)">

    </app-test>   <!-- Write your comments here parenteisis en clickAge denota una funcion angular-->

    <button (click) =changeName()>Change Name</button>
    <p>Benjamin</p>

    <app-test *ngIf="sw " name="Benjamin"> </app-test>

    <button (click)="sw=false"> CHANGE SW</button>

    <div *ngIf="sw">
        <p>Esto sera destruido al apretar el boton</p>
    </div>


    <app-test2>

    </app-test2>
</div>

