<p>Benji</p>
<div style="border: 1px solid darkred;">
    <app-test
            age="21"
            [name]="name "
            description="Estudiante"
            (clickSave)="saveClickChild($event)">

    </app-test>   <!-- Write your comments here parenteisis en clickAge denota una funcion angular-->

    <button (click) =changeName()>Change Name</button>
    <p>Benjamin</p>

    <app-test *ngIf="sw " name="Benjamin"> </app-test>

    <button (click)="sw=false"> CHANGE SW</button>

    <div *ngIf="sw">
        <p>Esto sera destruido al apretar el boton</p>
    </div>

    <!-- NG for -->

    <div *ngFor="let item of people; let i = index">
        <p>{{item}}========{{i+1}}</p>
    </div>

    <div [ngSwitch]="aux">
        <p *ngSwitchCase="3">  El valor es 3</p>
        <p *ngSwitchCase="2"> El valor es 2</p>
        <p *ngSwitchDefault> No es ni 3 ni 2</p>

    </div>

    <button (click)="auxColor='yellow'"> Amarillo </button>
    <button (click)="auxColor='green'"> Verde </button>
    <button (click)="auxColor='red'"> Rojo</button>


    <div [ngStyle]="{'border': '2px solid ' + auxColor, 'color': auxColor}">
    people
    </div>

    <div [style.color]="auxColor" [style.border]="auxColor">
        autos
    </div>


    <app-test2>

    </app-test2>
</div>

