<div [ngStyle]="{'background': 'teal'}">
    <p>6 - Super Ticket</p>

    <div id="Stock Total">Stock Total:</div>
    <div *ngIf="stockTotal===0">TODO VENDIDO</div>
    <div>{{stockTotal}}</div>



    <div id="Nacional">
        <div>Nacional</div>
        <div *ngFor="let band of bands; let i = index">
            <div [ngStyle]="{'background': band.stock>0 ? 'orange' : 'red' }">
                <div *ngIf="band.tipo==='nacional'">
                    <app-band [name]="band.nombre | uppercase"
                              [stock]="band.stock"
                              [habilitado]="band.habilitado"
                              [tipo]="band.tipo">

                    </app-band>

                    <button [disabled]="band.stock===0" (click)="bands[i].stock=band.stock-1; stockTotal=stockTotal-1">COMPRAR</button>
                </div>
            </div>


        </div>
    </div>
    <div id="Internacional">
        <div>Internacional</div>
        <div *ngFor="let band of bands; let i = index">
            <div [ngStyle]="{'background': band.stock>0 ? 'orange' : 'red' }">
            <div *ngIf="band.tipo==='internacional'">
                <app-band [name]="band.nombre | uppercase"
                          [stock]="band.stock"
                          [habilitado]="band.habilitado"
                          [tipo]="band.tipo">

                </app-band>
                <button [disabled]="band.stock===0" (click)="band.stock=band.stock-1; stockTotal=stockTotal-1">COMPRAR</button>
            </div>
        </div>
        </div>
    </div>

</div>
