<!--
<p>Login works!</p>
 FORMULARIOS ORIENTADOS A TEMPLATE


Forma 1

<div style="display: flex; flex-direction: column">
    <input type="text" [(ngModel)]="username">
    <input type="password" [(ngModel)]="password">

Forma 2

<div style="display: flex; flex-direction: column">
    <form #formulario="ngForm">
        <input type= "text" name="username" id="username" ngModel>
        <input type="password" name="password" id="password" ngModel>


    </form>

</div>


Forma 3

<div style="display: flex; flex-direction: column">
    <form (ngSubmit)="onLogin2(formulario)"  #formulario="ngForm">
        <input type= "text" name="username" id="username" ngModel>
        <input type="password" name="password" id="password" ngModel>
        <button type="submit">ENVIAR</button>
    </form>

</div>



<button (click)="onLogin()">LOGIN</button>
<button (click)="onLogin2(formulario)">LOGIN@</button>


<input class="form-control"
       type="text"
       required
       minlength="3"
       maxlength="5"
       ngModel
       #name="ngModel">

<div *ngIf="name.invalid && (name.touched || name.dirty)"
     class="alert alert-dang er">

    <div *ngIf="name.errors.required">
        Name is required
    </div>
    <div *ngIf="name.errors.minlength">
        Name must be at least 4 characters
    </div>
    <div *ngIf="name.errors.maxlength">
    Name must be at least 5 characters long
</div>
</div>
<button routerLink="/pages">LOGIN</button>

variable local
<div #test class="class1 class2" id="test2">HOLA</div>

<p>{{test.id}}</p>

<button (click)="sw=!sw">SW</button>

<ng-template #esFalso>
    <p> ES FALSOOO</p>
</ng-template>

<p *ngElse="sw">SE MUESTRA SI ES FALSO</p>
<ng-container></ng-container>
<ng-content></ng-content>
-->

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <form #form="ngForm" style="display: flex; flex-direction: column">
            <mat-form-field>
            <mat-label>E-Mail</mat-label>
                    <input ngModel
                           name="password"
                           matInput
                           type="text"
                           required #mailui="ngModel">
                <div *ngIf="mailui.invalid && (mailui.touched || mailui.dirty)"
                     class="alert alert-danger">

                    <div *ngIf="mailui.errors.required">
                        E-mail is required
                    </div>
                </div>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                #passwordUi="ngModel"
                ngModel
                name="password"
                matInput
                type="text"
                required>
            <div *ngIf="passwordUi.invalid && (passwordUi.touched || passwordUi.dirty)"
                 class="alert alert-danger">

                <div *ngIf="passwordUi.errors.required">
                    Password is required
                </div>
            </div>
        </mat-form-field>
        </form>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button [disabled]="form.invalid" (click)="onLogin(form)">Login</button>
    </mat-card-actions>
</mat-card>




